*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    display: flex;
    justify-content: center;


}
#card{
    height:400px;
    width:350px;
    background-color:white;
    margin-top: 150px;
    border: 3px solid black;;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
 
}
#stories{
    gap: 10px;
    height: 120px;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid  #dadaaa;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
}
#stories::-webkit-scrollbar{
    display: none;
}
.story{
    height: 90px;
    width: 90px;
    border: 3px solid red;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
    
}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
#fullstory{
    height: 100%;
    width: 100%;
    background-color: red;
    position: absolute;
    display: none;
    background-size: cover;


}

